*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(75, 64, 64);
    padding: 13px;
    color: white;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 550px;
    height: 0;
}
.logo-photo{
    width: 45px;
}
.menus{
    display: flex;
}
.item{
    margin: 6px 6px 6px 6px;
    font-size: 7px;
    cursor: pointer;

}
.item:hover{
    color: blueviolet;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.banner-img{
    width: 130px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    /*border: 2px;*/
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg,#080808,#272525);
    color: white;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.description{
    font-size: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}