*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.box{
    padding: 20px;
    background-color: blue;
    width: 110px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: chartreuse;
}
